@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

:root {
  --shaddow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

body {
  background-image: url("./static/images/bg3.jpg");
  font-family: "Roboto", sans-serif;
}

#form-container {
  width: 400px;
  box-shadow: var(--shaddow);
  padding: 30px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  display: block;
  width: 100px;
  margin: 0 auto;
}

#welcome-message {
  text-align: center;
  margin-bottom: 20px;
}

#welcome-message h1 {
  font-size: 36px;
}

#welcome-message p {
  font-size: 16px;
  color: rgb(97, 98, 105);
  font-weight: 300;
}

.form-field {
  margin-bottom: 20px;
}

.form-field label {
  font-size: 16px;
  line-height: 1.7em;
}

.form-field input {
  width: 100%;
  border: 2px solid rgba(198, 202, 219, 1);
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.form-field input[type="submit"] {
  background-color: rgb(156, 85, 27);
  border: none;
  color: #fff;
}

@media screen and (max-width: 450px) {
  #form-container {
    width: 95%;
  }

  #welcome-message h1 {
    font-size: 24px;
  }
}
